<div class="conteudo">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/logomarca.png" loading="lazy">
            </a>

            <div class="collapse navbar-collapse justify-content-stretch">
                <div class="navbar-nav ml-auto">
                    <div class="nav-item btn-group">
                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                            <img class="avatar avatar-sm" ng-src="{{'assets/img/avatars/'+ logado.avatar +'.svg'}}">
                            {{logado.nome}}
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdownitem btn btn-link">Perfil</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdownitem btn btn-link" ng-click="sair()">Sair</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="feeds container">
        <div class="row">
            <div class="col-8">
                
            </div>
            <div class="col-4">
                <div class="card-side">
                    <div class="media">
                        <img class="mr-3 avatar avatar-md" ng-src="{{'assets/img/avatars/'+ logado.avatar +'.svg'}}">
                        <div class="media-body">
                            <h5>{{logado.username}}</h5>
                            <p>{{logado.nome}}</p>
                        </div>
                    </div>
                    <button class="btn btn-block btn-outline-success">Nova Postagem</button>
                </div>

                <div class="card-side">
                    <h4>Sugestão para você</h4>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                             ng-repeat="usuario in usuarios">
                            <div>
                                <img class="avatar avatar-sm" ng-src="{{'assets/img/avatars/'+ usuario.avatar +'.svg'}}">
                                <span>{{usuario.username}}</span> 
                            </div>
                            <button class="btn btn-link btn-sm">Seguir</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>