<div class="conteudo">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/logomarca.png" loading="lazy">
            </a>

            <div class="collapse navbar-collapse justify-content-stretch">
                <div class="navbar-nav ml-auto">
                    <div class="nav-item btn-group">
                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                            <img class="avatar avatar-sm" ng-src="{{'assets/img/avatars/'+ logado.avatar +'.svg'}}">
                            {{logado.nome}}
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdownitem btn btn-link">Perfil</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdownitem btn btn-link" ng-click="sair()">Sair</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>